<h1 class="mt-3 mb-4">About Us</h1>
<h4 class="mb-4 text-center">We LOVE plants! 🌴🌴🌴</h4>
<p>
  Plants produce clean air and a clear mind (ever heard of <em>biophilia</em>?) and this is why we at Jungle have developed the ideal store for everyone to be a plant parent and better their life. Black thumb? No problem! Snag one of our many resilient plants. Forgetful? Well...set a reminder. Your plants need water and so do you. Take care of a plant and inadventerly take care of yourself. You got this!
</p>

<p>
  Jungle was founded to serve our community by providing plants to people from all walks of life. Need to jazz up your WFH space? Get a little plant. Feeling lonely from not seeing another person for two years, get a nice indoor tree and BAM! You have a new friend. 
</p>

<p class="text-center"><strong>Welcome to the Jungle</strong>, we have many plants.</p>